

  .product-container {
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    text-align: center;
  }
  .product-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-brand {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
  }
  .product-price {
    font-size: 1.2em;
    color: #666;
  }
  .heart-icon {
    float: right;
    font-size: 1.5em;
    color: #ccc;
    cursor: pointer;
  }
  .heart-icon:hover {
    color: #ff6868;
  }
  .heart-icon.clicked {
    color: red;
}
